In [33]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from word2number import w2n
from sklearn.preprocessing import StandardScaler,LabelEncoder

In [14]:
data=pd.read_csv('Automobile_data.csv')

In [15]:
data

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [16]:
data.dtypes

index                 int64
company              object
body-style           object
wheel-base          float64
length              float64
engine-type          object
num-of-cylinders     object
horsepower            int64
average-mileage       int64
price               float64
dtype: object

In [17]:
data.drop('index',axis=1)

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...
56,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [18]:
data.isna().sum()

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64

In [19]:
price_mean=data['price'].mean()
price_mean

15387.0

In [20]:
data['price']=data['price'].fillna(price_mean)

In [21]:
data

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [22]:
data['num-of-cylinders']=data['num-of-cylinders'].apply(w2n.word_to_num)

In [25]:
le_company=LabelEncoder()
le_bodystyle=LabelEncoder()
le_enginetype=LabelEncoder()

data['company']=le_company.fit_transform(data['company'])
data['body-style']=le_bodystyle.fit_transform(data['body-style'])
data['engine-type']=le_enginetype.fit_transform(data['engine-type'])

In [26]:
data=data.drop('index', axis=1)

In [27]:
data

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,0,88.6,168.8,0,4,111,21,13495.0
1,0,0,88.6,168.8,0,4,111,21,16500.0
2,0,2,94.5,171.2,5,6,154,19,16500.0
3,1,3,99.8,176.6,3,4,102,24,13950.0
4,1,3,99.4,176.6,3,5,115,18,17450.0
...,...,...,...,...,...,...,...,...,...
56,14,3,97.3,171.7,3,4,85,27,7975.0
57,14,3,97.3,171.7,3,4,52,37,7995.0
58,14,3,97.3,171.7,3,4,100,26,9995.0
59,15,3,104.3,188.8,3,4,114,23,12940.0
60,15,4,104.3,188.8,3,4,114,23,13415.0

In [28]:
x=data.drop('price',axis=1)
y=data['price']

In [29]:
x

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage
0,0,0,88.6,168.8,0,4,111,21
1,0,0,88.6,168.8,0,4,111,21
2,0,2,94.5,171.2,5,6,154,19
3,1,3,99.8,176.6,3,4,102,24
4,1,3,99.4,176.6,3,5,115,18
...,...,...,...,...,...,...,...,...
56,14,3,97.3,171.7,3,4,85,27
57,14,3,97.3,171.7,3,4,52,37
58,14,3,97.3,171.7,3,4,100,26
59,15,3,104.3,188.8,3,4,114,23
60,15,4,104.3,188.8,3,4,114,23

In [30]:
y

0     13495.0
1     16500.0
2     16500.0
3     13950.0
4     17450.0
       ...
56     7975.0
57     7995.0
58     9995.0
59    12940.0
60    13415.0
Name: price, Length: 61, dtype: float64

In [39]:
x_train, x_test,y_train,y_test = train_test_split(x,y, test_size=0.3, random_state=2)

In [64]:
Gdr= GradientBoostingRegressor(n_estimators=750, learning_rate=0.05, random_state=100)

In [65]:
Gdr.fit(x_train,y_train)

GradientBoostingRegressor(learning_rate=0.05, n_estimators=750,
                          random_state=100)

In [66]:
Gdr.score(x_test,y_test)

0.7625202415326551