In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [5]:
data=pd.read_csv('go_to_college.csv')
data

,type_school,school_accreditation,gender,interest,residence,parent_age,parent_salary,house_area,average_grades,parent_was_in_college,in_college
0,Academic,A,Male,Less Interested,Urban,56,6950000,83.0,84.09,False,True
1,Academic,A,Male,Less Interested,Urban,57,4410000,76.8,86.91,False,True
2,Academic,B,Female,Very Interested,Urban,50,6500000,80.6,87.43,False,True
3,Vocational,B,Male,Very Interested,Rural,49,6600000,78.2,82.12,True,True
4,Academic,A,Female,Very Interested,Urban,57,5250000,75.1,86.79,False,False
...,...,...,...,...,...,...,...,...,...,...,...
995,Vocational,A,Female,Very Interested,Rural,49,7420000,63.6,85.99,True,True
996,Academic,B,Female,Less Interested,Rural,51,7480000,84.3,89.72,True,True
997,Vocational,A,Male,Less Interested,Urban,49,5550000,75.2,79.56,False,True
998,Academic,B,Male,Uncertain,Rural,53,5840000,105.8,87.18,True,True
999,Academic,B,Male,Quiet Interested,Urban,50,2940000,69.1,86.13,True,False

In [3]:
data.dtypes

type_school               object
school_accreditation      object
gender                    object
interest                  object
residence                 object
parent_age                 int64
parent_salary              int64
house_area               float64
average_grades           float64
parent_was_in_college       bool
in_college                  bool
dtype: object

In [6]:
data.isna().sum()

type_school              0
school_accreditation     0
gender                   0
interest                 0
residence                0
parent_age               0
parent_salary            0
house_area               0
average_grades           0
parent_was_in_college    0
in_college               0
dtype: int64

In [8]:
a= LabelEncoder()
data['type_school'] =a.fit_transform(data['type_school'])
b= LabelEncoder()
data['school_accreditation'] =b.fit_transform(data['school_accreditation'])
c= LabelEncoder()
data['gender'] =c.fit_transform(data['gender'])
d= LabelEncoder()
data['interest'] =d.fit_transform(data['interest'])
e= LabelEncoder()
data['residence'] =e.fit_transform(data['residence'])
f= LabelEncoder()
data['parent_was_in_college'] =f.fit_transform(data['parent_was_in_college'])

In [9]:
data

,type_school,school_accreditation,gender,interest,residence,parent_age,parent_salary,house_area,average_grades,parent_was_in_college,in_college
0,1,0,1,0,1,56,6950000,83.0,84.09,0,True
1,1,0,1,0,1,57,4410000,76.8,86.91,0,True
2,0,1,0,4,1,50,6500000,80.6,87.43,0,True
3,1,1,1,4,0,49,6600000,78.2,82.12,1,True
4,0,0,0,4,1,57,5250000,75.1,86.79,0,False
...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,4,0,49,7420000,63.6,85.99,1,True
996,0,1,0,0,0,51,7480000,84.3,89.72,1,True
997,1,0,1,0,1,49,5550000,75.2,79.56,0,True
998,1,1,1,3,0,53,5840000,105.8,87.18,1,True
999,1,1,1,2,1,50,2940000,69.1,86.13,1,False

In [10]:
x=data.drop('in_college', axis=1)
y=data['in_college']

In [11]:
x

,type_school,school_accreditation,gender,interest,residence,parent_age,parent_salary,house_area,average_grades,parent_was_in_college
0,1,0,1,0,1,56,6950000,83.0,84.09,0
1,1,0,1,0,1,57,4410000,76.8,86.91,0
2,0,1,0,4,1,50,6500000,80.6,87.43,0
3,1,1,1,4,0,49,6600000,78.2,82.12,1
4,0,0,0,4,1,57,5250000,75.1,86.79,0
...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,4,0,49,7420000,63.6,85.99,1
996,0,1,0,0,0,51,7480000,84.3,89.72,1
997,1,0,1,0,1,49,5550000,75.2,79.56,0
998,1,1,1,3,0,53,5840000,105.8,87.18,1
999,1,1,1,2,1,50,2940000,69.1,86.13,1

In [12]:
y

0       True
1       True
2       True
3       True
4      False
       ...
995     True
996     True
997     True
998     True
999    False
Name: in_college, Length: 1000, dtype: bool

In [16]:
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.25, random_state=20)

In [17]:
model=KNeighborsClassifier(n_neighbors=10)

In [18]:
model.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=10)

In [19]:
model.score(x_test, y_test)

0.676

In [23]:
scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [25]:
model2=KNeighborsClassifier(n_neighbors=25)

In [26]:
model2.fit(x_train_scaled,y_train)

KNeighborsClassifier(n_neighbors=25)

In [27]:
model2.score(x_test_scaled,y_test)

0.832

In [28]:
y_pred=model.predict(x_test)

In [29]:
sbn=confusion_matrix(y_test,y_pred)
sbn

array([[82, 32],
       [49, 87]], dtype=int64)

In [30]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

       False       0.63      0.72      0.67       114
        True       0.73      0.64      0.68       136

    accuracy                           0.68       250
   macro avg       0.68      0.68      0.68       250
weighted avg       0.68      0.68      0.68       250